<div class="home-container">
    <div class="new-tweet">
        <h1>Compose new Tweet</h1>
        <% @tweet = @tweet || Tweet.new %>
        <%= form_for @tweet, {:url => '/tweets', :action => :create } do |f| %>
            <div class="new-tweet-content-container">
                <%= f.text_field :content, :autofocus => true, :required => true, :class => "new-tweet-content", :maxlength => 140%>   
            </div>
            <div class="new-tweet-counter-button">
                <div class="new-tweet-counter">140 characters remaining</div>
                <%= f.submit "Tweet", :class => "new-tweet-button"%>
            </div>
        <% end %>
    </div>
</div>
<script>
$(document).ready(function() {
    // updateCountdown();
    // $('.new-tweet-content').change(updateCountdown);
    $('.new-tweet-content').keyup(updateCountdown);
});
</script>
