<div class="home-container">
<div class="userfeed-container">
    
      <div class="tweet">
           <%=render :partial => '/tweets/tweet'%>
<%= button_to 'Delete tweet', @tweet, :method => 'delete', :data => {:confirm => "Are you sure?"}%>

   </div>
   

</div>
  




</div>


