
<div class="home-container">
    


   <div class="following-followers-container">
       
    <%=render :partial => 'user_profile'%>
<%=render :partial => 'users/user_sub_nav'%>
<%=render :partial => 'following_followers'%>
       
   </div> 

</div>

