
<div class="home-container">
    


   <div class="following-followers-container">
      
     <div class="user-profile">
         
            <%=render :partial => 'user_profile'%>
     </div>  
 
<%=render :partial => 'users/user_sub_nav'%>
<%=render :partial => 'following_followers'%>

   </div> 

</div>

