<div class="home-container">

    <div class="userfeed-container">

         <div class="user-profile">
        <%=render :partial => 'user_profile'%>
    </div>

        <div class="user-feed">
            <%=render :partial => 'users/userfeed'%>
        </div>
    </div>
</div>


