<div class="home-container">
    
<div class="userfeed-container">

        <div class="user-profile">
    
    <%=render :partial => 'user_profile'%>
</div>
    <%=render :partial => 'userfeed'%>
</div>

</div>


