<nav class="sub-nav">
    <ul>
        <li><%=link_to('News', username_news_path(@current_user.username))%></li>
        <li><%=link_to('All', username_all_path(@current_user.username))%></li>
        <li><%=link_to('Mentions', username_mentions_path(@current_user.username))%></li>
    </ul>
</nav>