<% if @current_user.present? %>
    <div class="home-container">
        <div class="newsfeed-container">
            <%=render :partial => '/pages/home_sub_nav'%>
            <%=render :partial => 'tweets/newsfeed'%>
        </div>
    </div>
<% else %>
    <div class="background-image">
        <div class="welcome-container">
            <div class="welcome">
                <h1 class="welcome-header">Welcome to Twitter</h1>
                <p class="welcome-msg">Be the first to know the story with breaking news from accredited journalists 24/7. Watch events unfold, in real time, from every angle. Get in-the-moment updates on the things that interest you.</p>
            </div>
            <div class="login-signup-forms">
                <div class="login">
                    <%=render :partial => '/session/new_session'%>
                </div>
                <div class="signup">
                    <%=render :partial => 'users/new_user_form'%>
                </div>
            </div>
        </div>
    </div>
<% end %>