
<% if @current_user.present? %>

    <div class="newsfeed">

        <%=render :partial => '/pages/home_sub_nav'%>
    
        <%=render :partial => 'tweets/newsfeed'%>

    </div>

<% else %>

    <h1>Welcome to Twitter</h1>

    <div clas="login">
        <%=render :partial => '/session/new_session'%>
    </div>

    <div class="signup">
        <%=render :partial => 'users/new_user_form'%>
    </div>
 
<% end %>


