body {
    /*background-color :blue;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.fa-twitter {
    color: #55acee;

}

nav {
    font-size: 35px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    /*position: fixed;*/
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;

}
nav li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

nav li a {
    text-decoration: none;
    color: #66757f;
    font-size: 20px;
    font-weight: 400;
}

nav li a:hover {
    color: #0084B4;
}

.new-tweet {
    width: 70%;
    background-color: #e5f2f7;
    border-radius: 6px;
}

.new-tweet h1 {
   /* border-bottom: solid 1px rgba(0, 132, 180, .25)
    width: 100%;*/
    text-align: center;
    color: #8899a6;
    font-size: 24px;

}

.new-tweet {
    padding: 10px;
    /*margin: 10px;*/
    margin: 50px auto;
}

.new-tweet-content {
    width: 100%;
    height: 80px;
    font-size: 20px;
    margin: auto;
    border-radius: 6px;
    border: solid 1px rgba(0, 132, 180, .25);
}

.new-tweet-content-container {
    margin: auto;
    width: 90%;
}

.new-tweet-content input {
    margin: auto;
}

.new-tweet-button {
    width: 100px;
    height: 50px;
    background-color: #0084B4;
    color: #fff;
    font-size: 20px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px rgba(0, 132, 180, .25);
    display: inline-block;

}

.new-tweet-counter {
    width: ;
    color: #8899a6;
    display: inline-block;
}

.new-tweet-counter-button {
    margin: auto;
}







