html, body {
    height: 100%;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    background-color: #bbdfef;
}

/*main nav*/

.fa-twitter {
    color: #55acee;
}

nav {
    font-size: 35px;
    border-bottom: 2px solid rgba(0,0,0,0.05);
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
}

.main-nav {
    position: fixed;
}

nav ul {
    list-style-type: none;
    margin-top: 0;
    padding-top: 35px;
}

nav li {
    display: inline-block;
}
.nav-link {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: #66757f;
    font-size: 20px;
    font-weight: 400;
}

.nav-link-search {
    font-size: 18px;
    color: #66757f;
}

.nav-link:hover {
    color: #0084B4;
    border-bottom: 3px solid #0084B4;
}

.wrap-right {
    position: absolute;
    right: 45px;
    top: 35px;
}

/*homepage not logged*/

.background-image {
    width: 100%;
    height:100%;
    position: relative;
    margin-top: 100px;
}

.background-image::after {
  content: "";
  background: url('http://api.news.com.au/content/1.0/newscomau/images/1227158446441?format=jpg');
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover  
}

.welcome-container {
    margin-top: 100px;
    width: 838px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.welcome {
    color: #fff;
    width: 47%;
    display: inline-block;
    vertical-align: top;
    z-index :1000;
    margin-right: 15px;
}

.welcome-header {
    font-size: 42px;
    margin-top: 0;
}

.welcome-msg {
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    /*font-weight: 300;*/
}

.login-signup-forms {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    width: 47%;
}

.login {
    background: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    padding: 10px;
}

.login input[type="text"], .login input[type="password"] {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccd6dd;
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin: 5px auto;
}

.login-btn {
    color: #fff;
    background-color: #55acee;
    border: 1px solid #3b88c3;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 100%;
    margin: 5px auto;
}

.signup {
    background: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    padding: 10px;
    margin-top: 20px;
}

.signup input[type="text"], .signup input[type="password"], .signup input[type="email"] {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccd6dd;
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin: 5px auto;
}

.sign-up-span {
    color: #66757f;
    font-weight: 200;
}

.signup-btn {
    color: #000;
    background-color: #ffac33;
    border: 1px solid #3b88c3;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 100%;
    margin: 5px auto;
}

.login > form, .signup > form {
    padding: 15px;
}

/*homepage user signed in*/

.container {
    margin-top:113px;
}

.home-container {
    width: 100%;
    height:100vh;
    position: relative;
    background-color: rgb(187, 223, 239);
    background-repeat: no-repeat;
    background: rgb(187, 223, 239) url('http://a0.twimg.com/images/themes/theme1/bg.png') no-repeat center top;
    margin-top: 0;
    padding-top: 100px;
}
.newsfeed-container {
    width: 70%;
    background-color: #fff;
    margin: 80px auto;
    border-radius: 9px 9px 0 0;
}

.userfeed-container {
    width: 70%;
    background-color: #fff;
    margin: 80px auto;
    border-radius: 9px 9px 0 0;
}

.following-followers-container {
    width: 70%;
    background-color: #fff;
    margin: 80px auto;
}

/*subnav*/

.sub-nav {
    background-color: rgb(245, 248, 250);
    text-align: center;
}

.counts {
    text-align: center;
}

.sub-nav .count {
    display: inline-block;
}

.count-link {
    text-align: center;
}


.sub-nav .counts {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    padding-left: 0;
}

.count-num {
    text-align: center;
    font-size: 22px;
    padding-top: 3px;
    font-weight: 600;
    color: #0084B4;
}


.sub-nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #66757f;
    margin: 0 20px 0 20px;
}

.sub-nav a:hover {
    color: #0084B4;
    border-bottom: 3px solid #0084B4;
}

/*searchbar*/

#search-form {
    display: inline-block;
}

.search {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 5px 27px 6px 12px;
    font-size: 16px;
    line-height: 1;
    color: #292f33;
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    border-radius: 21px;
    transition: all .2s ease-in-out;
    width: 200px;
}

.search-btn {
    display: none;
}

/*user newsfeed page*/

.tweet {
    font-size: 20px;
    border-bottom: 1px solid #e1e8ed
}

.tweet:hover {
    background-color: rgb(245, 248, 250);
}

.tweet:hover button{
    background-color: rgb(245, 248, 250);
}

.tweet-body {
    display: inline-block;
    margin-left: 30px;
}

.tweet-author, .tweet-username, .tweet-timestamp, .tweet-content {
    display: inline-block;
}

.tweet-author, .tweet-username {
    padding-right: 10px;
}

.tweet-content, .tweet-buttons {
    padding-left: 50px;
}

.profile-thumb {
    display: inline-block;
    width: 19%;
    vertical-align: top;
}

.profile-thumb-pic {
    border-radius: 6px;
    margin-top: 20px;
    vertical-align: bottom;
}

.tweet-username a, .tweet-timestamp a {
    color: #8899a6;
    /*text-decoration: none;*/
}

.tweet-author {
    font-weight: bold;
}

.tweet-author a {
    text-decoration: none;
    color: #000;
}

.tweet-author a:hover {
    color: #0084B4;
}

.tweet-buttons form {
    display: inline-block;
}

.reply, .retweet, .favourite, .unfavourite {
    display: inline-block;
    position: relative;
    color: #ccd6dd;
    font-size: 16px;
    background-color: #fff;
    border: 0px solid #fff;
    font-size: 30px;
}

.reply:hover {
    color: #0094B4;
}

.retweet:hover {
    color: #5c913b;
}

.retweeted-by {
    color: #5c913b;
}

.favourite:hover, .unfavourite:hover {
    color: #ffac33;
}

/*new tweet*/

.new-tweet {
    width: 70%;
    background-color: #e5f2f7;
    border-radius: 6px;
}

.new-tweet h1 {
    text-align: center;
    color: #8899a6;
    font-size: 24px;
}

.new-tweet {
    padding: 10px;
    margin: 100px auto;
}

.new-tweet-content {
    width: 100%;
    height: 80px;
    font-size: 20px;
    margin: auto;
    border-radius: 6px;
    border: solid 1px rgba(0, 132, 180, .25);
}

.new-tweet-content-container {
    margin: auto;
    width: 90%;
}

.new-tweet-content input {
    margin: auto;
}

.new-tweet-button {
    width: 100px;
    height: 50px;
    background-color: #0084B4;
    color: #fff;
    font-size: 20px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px rgba(0, 132, 180, .25);
    display: inline-block;
}

.new-tweet-counter {
    color: #8899a6;
    display: inline-block;
}

.new-tweet-counter-button {
    margin: auto;
    text-align: right;
    padding-right: 45px;
}

/*user profile*/

.user-profile {
    margin: auto;
    /*width: 65%;*/
    margin-bottom: 30px;
    padding-top: 30px;
    margin-left: 30px;
}

.user-profile .profile-main {
    display: inline;
}

.user-profile ul {
    list-style-type: none;
    padding: 0px;
}

.profile-main {
    border: 6px solid #0084B4;
    border-radius: 15px;
}

.profile-content {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

div.user-info h1 {
    margin-top: 0px;
}

.user-info li {
    padding: 5px;
}

.profile-wrapper {
    margin: auto;
}

.buttons-right {
    vertical-align: top;
}

.buttons-right input[value="Delete account"], .edit-btn {
    border-radius: 4px;
    border: 1px solid #ccd6dd;
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin: 5px auto;
    font-weight: bold;
    background-color: #f5f8fa;
    background-image: linear-gradient(#fff,#f5f8fa);
}

.edit-btn {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    padding: 10px;
    width: 100%;
    display: block;
}

.buttons-right > .unfollow-btn {
    color: #fff;
    border-radius: 4px;
    border: 1px solid #ccd6dd;
    height: 40px;
    font-size: 16px;
    margin: 5px auto;
    font-weight: bold;
    background-color: rgb(173, 0, 18);
}

.buttons-right > .follow-btn {
    color: #fff;
    border-radius: 4px;
    border: 1px solid #ccd6dd;
    height: 40px;
    font-size: 16px;
    margin: 5px auto;
    font-weight: bold;
    background-color: #0084B4;
}



.user-info {
    display: inline-block;
}

.buttons-right {
    display:inline-block;
    margin-left: 30px;
}

/*edit user profile*/


.edit-user-container {
    width: 30%;
    background-color: #fff;
    margin: auto;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 80px;
    padding: 20px;
    font-size: 20px;
}

.edit-user-container input[type="text"], .edit-user-container input[type="password"], .edit-user-container textarea, .edit-user-container input[type="email"] {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccd6dd;
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin: 5px auto;
}

.edit-user-container textarea {
    height: 200px;
}

.edit-profile-btn {
    color: #fff;
    background-color: #55acee;
    border: 1px solid #3b88c3;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 100%;
    margin: 5px auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.edit-user-container div {
    padding-top: 5px;
}

.edit-user-container input[type="file"] {

}

/*search results*/

.search-results-container {
    width: 30%;
    background-color: #fff;
    margin: auto;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 80px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.search-result {
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    color: #66757f;
    text-transform: uppercase;
    font-weight: 500;
}

.search-result:hover {
    color: #0084B4;
}

/*single tweet*/

.delete-tweet-btn {
    border-radius: 4px;
    border: 1px solid #ccd6dd;
    width: 20%;
    height: 40px;
    font-size: 16px;
    margin: 5px auto;
    font-weight: bold;
    background-color: #f5f8fa;
    background-image: linear-gradient(#fff,#f5f8fa);
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*following-followers page*/

.following-follower {
    font-size: 20px;
    border-bottom: 1px solid #e1e8ed;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;

}

.following-follower img {
    display: block;
    border: 6px solid #fff;
    border-radius: 15px;
}

.following-follower a {
    text-decoration:none;
    color: #8899a6;
}

.following-follower:hover {
    background-color: rgb(245, 248, 250);
}

.follow-btn {
    color: #fff;
    border-radius: 4px;
    border: 1px solid #ccd6dd;
    height: 40px;
    font-size: 16px;
    margin: 5px auto;
    font-weight: bold;
    background-color: #0084B4;
}

.unfollow-btn {
    color: #fff;
    border-radius: 4px;
    border: 1px solid #ccd6dd;
    height: 40px;
    font-size: 16px;
    margin: 5px auto;
    font-weight: bold;
    background-color: rgb(173, 0, 18);
}

/*tablet*/
@media screen and (max-width: 1023px){
}

/*mobile*/
@media screen and (max-width: 767px){
}