body {
    /*background-color :blue;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}

/*nav*/

.fa-twitter {
    color: #55acee;

}

nav {
    font-size: 35px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    /*position: fixed;*/
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}
.nav-link {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: #66757f;
    font-size: 20px;
    font-weight: 400;
}

.nav-link-search {
    font-size: 18px;
    color: #66757f;
}

.nav-link:hover {
    color: #0084B4;
    border-bottom: 3px solid #0084B4;
}

/*homepage no user*/

.background-image {
    width: 100%;
    height:100%;
    position: relative;
}

.background-image::after {
  content: "";
  background: url('http://api.news.com.au/content/1.0/newscomau/images/1227158446441?format=jpg');
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover  
}

.welcome-container {
    width: 838px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.welcome {
    color: #fff;
    width: 49%;
    display: inline-block;
    vertical-align: top;
    z-index :1000;
}

.welcome-header {
    font-size: 38px;
    margin-top: 0;
}

.welcome-msg {
    font-size: 25px;
    line-height: 31px;
    font-weight: 300;
}

.login-signup-forms {
    display: inline-block;
    vertical-align: top;
}

.login {
    background: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    padding: 10px;
}

.login input[type="text"], .login input[type="password"] {
    border-radius: 4px;
    background-color: rgb(250, 255, 189);
    border: 1px solid #ccd6dd;
    width: 95%;
    height: 40px;
    font-size: 20px;
    margin: 5px auto;
}

.login-btn {
    color: #fff;
    background-color: #55acee;
    border: 1px solid #3b88c3;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 95%;
    margin: 5px auto;
}

.signup {
    background: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
}

.signup input[type="text"], .signup input[type="password"], .signup input[type="email"] {
    border-radius: 4px;
    background-color: rgb(250, 255, 189);
    border: 1px solid #ccd6dd;
    width: 95%;
    height: 40px;
    font-size: 20px;
    margin: 5px auto;
}

.sign-up-span {
    color: #66757f;
    font-weight: 200;
}

.signup-btn {
    color: #000;
    background-color: #ffac33;
    border: 1px solid #3b88c3;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 95%;
    margin: 5px auto;
}

/*user nav*/

/*homepage user signed in*/

.home-container {
    width: 100%;
    height:100vh;
    position: relative;
    background-color: rgb(187, 223, 239);
    background: url('http://a0.twimg.com/images/themes/theme1/bg.png');
    background-repeat: no-repeat;
    background: rgb(187, 223, 239) url('http://a0.twimg.com/images/themes/theme1/bg.png') no-repeat center top;
    margin-top: 0;
    padding-top: 100px;
}
.newsfeed {
    margin-top: 100px;
    width: 70%;
    background-color: #fff;
    margin: auto;
}

/*subnav*/

.sub-nav {
    background-color: rgb(245, 248, 250);
    border-radius: 3px 3px 0 0;
}

.sub-nav ul {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    padding-left: 0;
}


.sub-nav a {
    text-decoration: none;
    color: ;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #66757f;
    margin: 0 20px 0 20px;
}

.sub-nav a:hover {
    color: #0084B4;
    border-bottom: 3px solid #0084B4;
}


/*searchbar*/

#search-form {
    display: inline-block;
}

.search {

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 5px 27px 6px 12px;
    font-size: 16px;
    line-height: 1;
    color: #292f33;
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    border-radius: 21px;
    transition: all .2s ease-in-out;
    width: 200px;
}

.search-btn {
    display: none;
}

/*user newsfeed page*/

.tweet {
    font-size: 20px;
    border-bottom: 1px solid #e1e8ed
}

.tweet:hover {
    background-color: rgb(245, 248, 250);
}

.tweet:hover button{
    background-color: rgb(245, 248, 250);
}

.profile-thumb {
    display: inline-block;
    width: 19%;
    vertical-align: top;
}

.tweet-body {
    display: inline-block;
    width: 79%;
}

.tweet-author, .tweet-username, .tweet-timestamp, .tweet-content {
    display: inline-block;
}

.tweet-username a, .tweet-timestamp a {
    color: #8899a6;
    /*text-decoration: none;*/
}

.tweet-author {
    font-weight: bold;

}

.tweet-author a {
    text-decoration: none;
    color: #000;
}

.tweet-author a:hover {
    color: #0084B4;
}

.tweet-buttons form {
    display: inline-block;
}

.reply, .retweet, .favourite, .unfavourite {
    display: inline-block;
    position: relative;
    color: #ccd6dd;
    font-size: 16px;
    background-color: #fff;
    border: 0px solid #fff;
    font-size: 30px;
}

.reply:hover {
    color: #0094B4;
}

.retweet:hover {
    color: #5c913b;
}

.favourite:hover, .unfavourite:hover {
    color: #ffac33;
}

/*single tweet*/


/*user profile*/


/*show user page*/


/*subnav*/




.new-tweet {
    width: 70%;
    background-color: #e5f2f7;
    border-radius: 6px;
}

.new-tweet h1 {
   /* border-bottom: solid 1px rgba(0, 132, 180, .25)
    width: 100%;*/
    text-align: center;
    color: #8899a6;
    font-size: 24px;

}

.new-tweet {
    padding: 10px;
    /*margin: 10px;*/
    margin: 50px auto;
}

.new-tweet-content {
    width: 100%;
    height: 80px;
    font-size: 20px;
    margin: auto;
    border-radius: 6px;
    border: solid 1px rgba(0, 132, 180, .25);
}

.new-tweet-content-container {
    margin: auto;
    width: 90%;
}

.new-tweet-content input {
    margin: auto;
}

.new-tweet-button {
    width: 100px;
    height: 50px;
    background-color: #0084B4;
    color: #fff;
    font-size: 20px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px rgba(0, 132, 180, .25);
    display: inline-block;

}

.new-tweet-counter {
    color: #8899a6;
    display: inline-block;
}

.new-tweet-counter-button {
    margin: auto;
}


/*tablet*/
@media screen and (max-width: 1023px){

   
}

/*mobile*/
@media screen and (max-width: 767px){

}









